In [ ]:
#In this activity, you are tasked with creating a Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. This dataset is composed of two columns, Date and Profit/Losses. (Thankfully, your company has rather lax standards for accounting, so the records are simple.)
#Your task is to create a Python script that analyzes the records to calculate each of the following:
#The total number of months included in the dataset.
#The net total amount of Profit/Losses over the entire period.
#The average of the changes in Profit/Losses over the entire period.
#The greatest increase in profits (date and amount) over the entire period.
#The greatest decrease in losses (date and amount) over the entire period.
#Your resulting analysis should look similar to the following:

#Financial Analysis
#----------------------------
#Total Months: 86
#Total: $38382578
#Average  Change: $-2315.12
#Greatest Increase in Profits: Feb-2012 ($1926159)
#Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [1]:
import csv
with open('budget_data.csv') as csvfile:
    reader = csv.DictReader(csvfile,delimiter=",")
    for d in reader:
        print(f"{d['Date']} {d['Profit/Losses']}")

Jan-2010 867884
Feb-2010 984655
Mar-2010 322013
Apr-2010 -69417
May-2010 310503
Jun-2010 522857
Jul-2010 1033096
Aug-2010 604885
Sep-2010 -216386
Oct-2010 477532
Nov-2010 893810
Dec-2010 -80353
Jan-2011 779806
Feb-2011 -335203
Mar-2011 697845
Apr-2011 793163
May-2011 485070
Jun-2011 584122
Jul-2011 62729
Aug-2011 668179
Sep-2011 899906
Oct-2011 834719
Nov-2011 132003
Dec-2011 309978
Jan-2012 -755566
Feb-2012 1170593
Mar-2012 252788
Apr-2012 1151518
May-2012 817256
Jun-2012 570757
Jul-2012 506702
Aug-2012 -1022534
Sep-2012 475062
Oct-2012 779976
Nov-2012 144175
Dec-2012 542494
Jan-2013 359333
Feb-2013 321469
Mar-2013 67780
Apr-2013 471435
May-2013 565603
Jun-2013 872480
Jul-2013 789480
Aug-2013 999942
Sep-2013 -1196225
Oct-2013 268997
Nov-2013 -687986
Dec-2013 1150461
Jan-2014 682458
Feb-2014 617856
Mar-2014 824098
Apr-2014 581943
May-2014 132864
Jun-2014 448062
Jul-2014 689161
Aug-2014 800701
Sep-2014 1166643
Oct-2014 947333
Nov-2014 578668
Dec-2014 988505
Jan-2015 1139715
Feb-2015 1029471
Mar-2015 687533
Apr-2015 -524626
May-2015 158620
Jun-2015 87795
Jul-2015 423389
Aug-2015 840723
Sep-2015 568529
Oct-2015 332067
Nov-2015 989499
Dec-2015 778237
Jan-2016 650000
Feb-2016 -1100387
Mar-2016 -174946
Apr-2016 757143
May-2016 445709
Jun-2016 712961
Jul-2016 -1163797
Aug-2016 569899
Sep-2016 768450
Oct-2016 102685
Nov-2016 795914
Dec-2016 60988
Jan-2017 138230
Feb-2017 671099

In [2]:
with open('budget_data.csv', mode='r') as infile:
    reader = csv.reader(infile)
    with open('budget_data_new.csv', mode='w') as outfile:
        writer = csv.writer(outfile)
        bd = {rows[0]:rows[1] for rows in reader}

In [3]:
print (bd)

{'Date': 'Profit/Losses', 'Jan-2010': '867884', 'Feb-2010': '984655', 'Mar-2010': '322013', 'Apr-2010': '-69417', 'May-2010': '310503', 'Jun-2010': '522857', 'Jul-2010': '1033096', 'Aug-2010': '604885', 'Sep-2010': '-216386', 'Oct-2010': '477532', 'Nov-2010': '893810', 'Dec-2010': '-80353', 'Jan-2011': '779806', 'Feb-2011': '-335203', 'Mar-2011': '697845', 'Apr-2011': '793163', 'May-2011': '485070', 'Jun-2011': '584122', 'Jul-2011': '62729', 'Aug-2011': '668179', 'Sep-2011': '899906', 'Oct-2011': '834719', 'Nov-2011': '132003', 'Dec-2011': '309978', 'Jan-2012': '-755566', 'Feb-2012': '1170593', 'Mar-2012': '252788', 'Apr-2012': '1151518', 'May-2012': '817256', 'Jun-2012': '570757', 'Jul-2012': '506702', 'Aug-2012': '-1022534', 'Sep-2012': '475062', 'Oct-2012': '779976', 'Nov-2012': '144175', 'Dec-2012': '542494', 'Jan-2013': '359333', 'Feb-2013': '321469', 'Mar-2013': '67780', 'Apr-2013': '471435', 'May-2013': '565603', 'Jun-2013': '872480', 'Jul-2013': '789480', 'Aug-2013': '999942', 'Sep-2013': '-1196225', 'Oct-2013': '268997', 'Nov-2013': '-687986', 'Dec-2013': '1150461', 'Jan-2014': '682458', 'Feb-2014': '617856', 'Mar-2014': '824098', 'Apr-2014': '581943', 'May-2014': '132864', 'Jun-2014': '448062', 'Jul-2014': '689161', 'Aug-2014': '800701', 'Sep-2014': '1166643', 'Oct-2014': '947333', 'Nov-2014': '578668', 'Dec-2014': '988505', 'Jan-2015': '1139715', 'Feb-2015': '1029471', 'Mar-2015': '687533', 'Apr-2015': '-524626', 'May-2015': '158620', 'Jun-2015': '87795', 'Jul-2015': '423389', 'Aug-2015': '840723', 'Sep-2015': '568529', 'Oct-2015': '332067', 'Nov-2015': '989499', 'Dec-2015': '778237', 'Jan-2016': '650000', 'Feb-2016': '-1100387', 'Mar-2016': '-174946', 'Apr-2016': '757143', 'May-2016': '445709', 'Jun-2016': '712961', 'Jul-2016': '-1163797', 'Aug-2016': '569899', 'Sep-2016': '768450', 'Oct-2016': '102685', 'Nov-2016': '795914', 'Dec-2016': '60988', 'Jan-2017': '138230', 'Feb-2017': '671099'}

In [4]:
del bd['Date']

In [11]:
print (bd)

{'Jan-2010': '867884', 'Feb-2010': '984655', 'Mar-2010': '322013', 'Apr-2010': '-69417', 'May-2010': '310503', 'Jun-2010': '522857', 'Jul-2010': '1033096', 'Aug-2010': '604885', 'Sep-2010': '-216386', 'Oct-2010': '477532', 'Nov-2010': '893810', 'Dec-2010': '-80353', 'Jan-2011': '779806', 'Feb-2011': '-335203', 'Mar-2011': '697845', 'Apr-2011': '793163', 'May-2011': '485070', 'Jun-2011': '584122', 'Jul-2011': '62729', 'Aug-2011': '668179', 'Sep-2011': '899906', 'Oct-2011': '834719', 'Nov-2011': '132003', 'Dec-2011': '309978', 'Jan-2012': '-755566', 'Feb-2012': '1170593', 'Mar-2012': '252788', 'Apr-2012': '1151518', 'May-2012': '817256', 'Jun-2012': '570757', 'Jul-2012': '506702', 'Aug-2012': '-1022534', 'Sep-2012': '475062', 'Oct-2012': '779976', 'Nov-2012': '144175', 'Dec-2012': '542494', 'Jan-2013': '359333', 'Feb-2013': '321469', 'Mar-2013': '67780', 'Apr-2013': '471435', 'May-2013': '565603', 'Jun-2013': '872480', 'Jul-2013': '789480', 'Aug-2013': '999942', 'Sep-2013': '-1196225', 'Oct-2013': '268997', 'Nov-2013': '-687986', 'Dec-2013': '1150461', 'Jan-2014': '682458', 'Feb-2014': '617856', 'Mar-2014': '824098', 'Apr-2014': '581943', 'May-2014': '132864', 'Jun-2014': '448062', 'Jul-2014': '689161', 'Aug-2014': '800701', 'Sep-2014': '1166643', 'Oct-2014': '947333', 'Nov-2014': '578668', 'Dec-2014': '988505', 'Jan-2015': '1139715', 'Feb-2015': '1029471', 'Mar-2015': '687533', 'Apr-2015': '-524626', 'May-2015': '158620', 'Jun-2015': '87795', 'Jul-2015': '423389', 'Aug-2015': '840723', 'Sep-2015': '568529', 'Oct-2015': '332067', 'Nov-2015': '989499', 'Dec-2015': '778237', 'Jan-2016': '650000', 'Feb-2016': '-1100387', 'Mar-2016': '-174946', 'Apr-2016': '757143', 'May-2016': '445709', 'Jun-2016': '712961', 'Jul-2016': '-1163797', 'Aug-2016': '569899', 'Sep-2016': '768450', 'Oct-2016': '102685', 'Nov-2016': '795914', 'Dec-2016': '60988', 'Jan-2017': '138230', 'Feb-2017': '671099'}

In [12]:
# Initialize metric variables
Total_Months = 0
Total = 0
Average_Change = 0

In [8]:
# Initialize minimum key-value pair
minimum_key = ""
minimum_value = 0

# Initialize maximum key-value pair
maximum_key = ""
maximum_value = 0

In [15]:
print()
for date, PL in bd.items():
    print(f"Date: {date} | Profit/Loss: {PL}")
    
    # calc number of months
    Total_Months += 1
    # calc net total
    Total += int(PL)
    # calc average change
    # Logic to determine min value and associated key
    #if minimum_value == 0:
    #    minimum_value = Profit/Loss
     #   minimum_key = Date
    #elif market_cap < minimum_value:
      #  minimum_value = market_cap
       # minimum_key = bank_name

Date: Jan-2010 | Profit/Loss: 867884
Date: Feb-2010 | Profit/Loss: 984655
Date: Mar-2010 | Profit/Loss: 322013
Date: Apr-2010 | Profit/Loss: -69417
Date: May-2010 | Profit/Loss: 310503
Date: Jun-2010 | Profit/Loss: 522857
Date: Jul-2010 | Profit/Loss: 1033096
Date: Aug-2010 | Profit/Loss: 604885
Date: Sep-2010 | Profit/Loss: -216386
Date: Oct-2010 | Profit/Loss: 477532
Date: Nov-2010 | Profit/Loss: 893810
Date: Dec-2010 | Profit/Loss: -80353
Date: Jan-2011 | Profit/Loss: 779806
Date: Feb-2011 | Profit/Loss: -335203
Date: Mar-2011 | Profit/Loss: 697845
Date: Apr-2011 | Profit/Loss: 793163
Date: May-2011 | Profit/Loss: 485070
Date: Jun-2011 | Profit/Loss: 584122
Date: Jul-2011 | Profit/Loss: 62729
Date: Aug-2011 | Profit/Loss: 668179
Date: Sep-2011 | Profit/Loss: 899906
Date: Oct-2011 | Profit/Loss: 834719
Date: Nov-2011 | Profit/Loss: 132003
Date: Dec-2011 | Profit/Loss: 309978
Date: Jan-2012 | Profit/Loss: -755566
Date: Feb-2012 | Profit/Loss: 1170593
Date: Mar-2012 | Profit/Loss: 252788
Date: Apr-2012 | Profit/Loss: 1151518
Date: May-2012 | Profit/Loss: 817256
Date: Jun-2012 | Profit/Loss: 570757
Date: Jul-2012 | Profit/Loss: 506702
Date: Aug-2012 | Profit/Loss: -1022534
Date: Sep-2012 | Profit/Loss: 475062
Date: Oct-2012 | Profit/Loss: 779976
Date: Nov-2012 | Profit/Loss: 144175
Date: Dec-2012 | Profit/Loss: 542494
Date: Jan-2013 | Profit/Loss: 359333
Date: Feb-2013 | Profit/Loss: 321469
Date: Mar-2013 | Profit/Loss: 67780
Date: Apr-2013 | Profit/Loss: 471435
Date: May-2013 | Profit/Loss: 565603
Date: Jun-2013 | Profit/Loss: 872480
Date: Jul-2013 | Profit/Loss: 789480
Date: Aug-2013 | Profit/Loss: 999942
Date: Sep-2013 | Profit/Loss: -1196225
Date: Oct-2013 | Profit/Loss: 268997
Date: Nov-2013 | Profit/Loss: -687986
Date: Dec-2013 | Profit/Loss: 1150461
Date: Jan-2014 | Profit/Loss: 682458
Date: Feb-2014 | Profit/Loss: 617856
Date: Mar-2014 | Profit/Loss: 824098
Date: Apr-2014 | Profit/Loss: 581943
Date: May-2014 | Profit/Loss: 132864
Date: Jun-2014 | Profit/Loss: 448062
Date: Jul-2014 | Profit/Loss: 689161
Date: Aug-2014 | Profit/Loss: 800701
Date: Sep-2014 | Profit/Loss: 1166643
Date: Oct-2014 | Profit/Loss: 947333
Date: Nov-2014 | Profit/Loss: 578668
Date: Dec-2014 | Profit/Loss: 988505
Date: Jan-2015 | Profit/Loss: 1139715
Date: Feb-2015 | Profit/Loss: 1029471
Date: Mar-2015 | Profit/Loss: 687533
Date: Apr-2015 | Profit/Loss: -524626
Date: May-2015 | Profit/Loss: 158620
Date: Jun-2015 | Profit/Loss: 87795
Date: Jul-2015 | Profit/Loss: 423389
Date: Aug-2015 | Profit/Loss: 840723
Date: Sep-2015 | Profit/Loss: 568529
Date: Oct-2015 | Profit/Loss: 332067
Date: Nov-2015 | Profit/Loss: 989499
Date: Dec-2015 | Profit/Loss: 778237
Date: Jan-2016 | Profit/Loss: 650000
Date: Feb-2016 | Profit/Loss: -1100387
Date: Mar-2016 | Profit/Loss: -174946
Date: Apr-2016 | Profit/Loss: 757143
Date: May-2016 | Profit/Loss: 445709
Date: Jun-2016 | Profit/Loss: 712961
Date: Jul-2016 | Profit/Loss: -1163797
Date: Aug-2016 | Profit/Loss: 569899
Date: Sep-2016 | Profit/Loss: 768450
Date: Oct-2016 | Profit/Loss: 102685
Date: Nov-2016 | Profit/Loss: 795914
Date: Dec-2016 | Profit/Loss: 60988
Date: Jan-2017 | Profit/Loss: 138230
Date: Feb-2017 | Profit/Loss: 671099

In [18]:
print (F"${Total}")
print (Total_Months)

$38382578
86

In [23]:
print ("Length : %d" % len (bd))

Length : 86

In [26]:
print ("variable Type: %s" %type (bd))

variable Type: <class 'dict'>

In [72]:
a =list(bd.values())
for i in range(0, len(a)):
    a[i] = int(a[i])

In [73]:
print (a)

[867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [70]:
diffs = []
for i, e in enumerate(list_a):
        for j, f in enumerate(list_a):
            if i != j: diffs.append((e-f))
sum(diffs)/len(diffs)

0.0

In [93]:
diff = [x - a[i - 1] for i, x in enumerate(a)][1:]

In [94]:
print (diff)

[116771, -662642, -391430, 379920, 212354, 510239, -428211, -821271, 693918, 416278, -974163, 860159, -1115009, 1033048, 95318, -308093, 99052, -521393, 605450, 231727, -65187, -702716, 177975, -1065544, 1926159, -917805, 898730, -334262, -246499, -64055, -1529236, 1497596, 304914, -635801, 398319, -183161, -37864, -253689, 403655, 94168, 306877, -83000, 210462, -2196167, 1465222, -956983, 1838447, -468003, -64602, 206242, -242155, -449079, 315198, 241099, 111540, 365942, -219310, -368665, 409837, 151210, -110244, -341938, -1212159, 683246, -70825, 335594, 417334, -272194, -236462, 657432, -211262, -128237, -1750387, 925441, 932089, -311434, 267252, -1876758, 1733696, 198551, -665765, 693229, -734926, 77242, 532869]

In [95]:
sum_diff = sum(diff)

In [96]:
print (sum_diff)

-196785

In [97]:
avg_diff = sum_diff/len(diff)

In [108]:
print ("${:.6}". format(avg_diff))

$-2315.12

In [111]:
max_diff = max(diff)
min_diff = min(diff)

In [112]:
print (max_diff)

1926159

In [113]:
print (min_diff)

-2196167